*{

    background:#ecf0f1 ;
}

body{
    padding:20px;
text-align: center;
  }

  .btn{
      color :#ffffff;
      background: #3498DB ;
      height:40px;
      align-self: center;
      border-radius: 10px;
      width: 350px;
  }